<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Dashboard Coordenador</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
</head>
<body>
<div th:replace="~{fragments/navbar-coordenador :: navbar(${nomeCoordenador})}"></div>
<div class="container">
  <h2 class="text-center mb-4">Dashboard Coordenador</h2>
  <table class="table table-bordered table-striped text-center">
    <thead class="table-primary">
    <tr>
      <th>Atividade Principal</th>
      <th>Valor Pago</th>
      <th>Empresa</th>
      <th>Ver Candidato</th>
      <th>Editar</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="oferta : ${ofertas}">
      <td th:text="${oferta.atividadePrincipal}"></td>
      <td th:text="${oferta.valorPago}"></td>
      <td th:text="${oferta.empresas.getNome()}"></td>
      <td>
        <a th:href="@{/coordenadores/oferta/{id}/candidatos(id=${oferta.idOfertaEstagio})}" class="btn btn-info">Ver Candidatos</a>
      </td>
    </tr>
    </tbody>
  </table>

  <div class="d-flex justify-content-center my-4">
    <nav aria-label="Navegação de página">
      <ul class="pagination">

        <li class="page-item" th:classappend="${currentPage == 0} ? 'disabled'">
          <a class="page-link" th:href="@{/coordenadores/dashboard(page=${currentPage - 1})}" tabindex="-1">Página Anterior</a>
        </li>

        <li class="page-item" th:each="i : ${#numbers.sequence(0, totalPages - 1)}"
            th:classappend="${currentPage == i} ? 'active'">
          <a class="page-link" th:href="@{/coordenadores/dashboard(page=${i})}" th:text="${i + 1}"></a>
        </li>

        <li class="page-item" th:classappend="${currentPage >= totalPages - 1} ? 'disabled'">
          <a class="page-link" th:href="@{/coordenadores/dashboard(page=${currentPage + 1})}">Próxima Página</a>
        </li>
      </ul>
    </nav>
  </div>


</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>