<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Empresa</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <button type="button" class="btn btn-secondary" onclick="window.history.back()">Voltar</button>
    <h2 class="text-center">Editar Empresa</h2>
    <form th:action="@{/coordenadores/empresas/atualizar}" th:object="${empresa}" method="POST">
        <input type="hidden" th:field="*{idEmpresa}" />
        <div class="mb-3">
            <label for="nome" class="form-label">Nome</label>
            <input type="text" class="form-control" id="nome" th:field="*{nome}" placeholder="Digite o nome da empresa." required>
        </div>
        <div class="mb-3">
            <label for="cnpj" class="form-label">CNPJ</label>
            <input type="text" class="form-control" id="cnpj" th:field="*{cnpj}" placeholder="Digite o CNPJ da empresa." required>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" th:field="*{email}" placeholder="Digite o e-mail da empresa." required>
        </div>
        <div class="mb-3">
            <label for="telefone" class="form-label">Telefone</label>
            <input type="text" class="form-control" id="telefone" th:field="*{telefone}" placeholder="Digite o telefone da empresa." required>
        </div>
        <div class="mb-3">
            <label for="endereco" class="form-label">Endereço</label>
            <input type="text" class="form-control" id="endereco" th:field="*{endereco}" placeholder="Digite o endereço da empresa." required>
        </div>
        <div class="mb-3">
            <label for="pessoaContato" class="form-label">Pessoa de Contato</label>
            <input type="text" class="form-control" id="pessoaContato" th:field="*{pessoaContato}" placeholder="Digite a pessoa de contato da empresa." required>
        </div>
        <div class="mb-3">
            <label for="atividadePrincipal" class="form-label">Atividade Principal</label>
            <input type="text" class="form-control" id="atividadePrincipal" th:field="*{atividadePrincipal}" placeholder="Digite a atividade principal da empresa." required>
        </div>
        <div class="mb-3">
            <label for="urlEmpresa" class="form-label">URL da Empresa</label>
            <input type="url" class="form-control" id="urlEmpresa" th:field="*{urlEmpresa}" placeholder="Digite a URL da empresa." required>
        </div>
        <div class="mb-3">
            <label for="pdfEmpresa">Documento de Comprovação (PDF)</label>
            <input type="file" class="form-control" id="pdfEmpresa" th:field="*{pdfEmpresa}" accept=".pdf">
        </div>
        <button type="submit" class="btn btn-primary">Atualizar</button>
    </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>

