<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Estágios em Andamento</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
</head>
<body>
<div th:replace="~{fragments/navbar-coordenador :: navbar(${nomeCoordenador})}"></div>
<div class="container mt-4">
  <h1 class="mb-4">Estágios em Andamento</h1>
  <table class="table table-bordered table-hover">
    <thead class="table-dark">
    <tr>
      <th>Aluno</th>
      <th>Oferta de Estágio</th>
      <th>Atividade Principal</th>
      <th>Data de Início</th>
      <th>Data de Término</th>
      <th>Valor do Estágio (R$)</th>
      <th>Ações</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="estagio : ${estagios}">
      <td th:text="${estagio.aluno.nome} + ' ' + ${estagio.aluno.sobrenome}"></td>
      <td th:text="${estagio.ofertaEstagio.idOfertaEstagio}"></td>
      <td th:text="${estagio.ofertaEstagio.atividadePrincipal}"></td>
      <td th:text="${estagio.dataInicio}"></td>
      <td th:text="${estagio.dataTermino}"></td>
      <td th:text="${estagio.valorEstagio}"></td>
      <td>
        <a class="btn btn-primary" th:href="@{baixar-termo-estagio/{estagioId}(estagioId=${estagio.idEstagio})}" title="Baixar Termo de Estágio">
          <i class="bi bi-file-earmark-arrow-down"></i> Baixar PDF
        </a>
      </td>
    </tr>
    </tbody>
  </table>
  <nav>
    <ul class="pagination justify-content-center">
      <li class="page-item" th:classappend="${page.hasPrevious()} ? '': 'disabled'">
        <a class="page-link" th:href="@{/listar-estagios(page=${page.number - 1}, size=${page.size})}">Anterior</a>
      </li>
      <li class="page-item" th:each="i : ${#numbers.sequence(0, page.totalPages - 1)}"
          th:classappend="${i == page.number} ? 'active'">
        <a class="page-link" th:href="@{/listar-estagios(page=${i}, size=${page.size})}" th:text="${i + 1}"></a>
      </li>
      <li class="page-item" th:classappend="${page.hasNext()} ? '' : 'disabled'">
        <a class="page-link" th:href="@{/listar-estagios(page=${page.number + 1}, size=${page.size})}">Próximo</a>
      </li>
      </ul>
    </nav>

</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>