<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login - Aluno</title>
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
<div class="container mt-5">
  <button type="button" class="btn btn-secondary" onclick="window.history.back()">Voltar</button>
  <h2 class="text-center">Login - Empresa</h2>
  <form th:action="@{/empresas/autenticar}" method="post">
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="email" class="form-control" id="email" name="email" placeholder="Digite seu username" required>
    </div>

    <button type="submit" class="btn btn-primary">Login</button>
  </form>
  <div class="text-center mt-3">
    <p>Não tem uma conta? <a th:href="@{/empresas/cadastrar}">Criar conta</a></p>
  </div>
</div>

<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>