<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Criar Conta - Aluno</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
<div class="container mt-5">
  <h2 class="text-center">Criar Conta - Aluno</h2>
  <form th:action="@{/alunos/salvar}" th:object="${aluno}" method="post">
    <div class="mb-3">
      <label for="nome" class="form-label">Nome</label>
      <input type="text" class="form-control" id="nome" th:field="*{nome}" placeholder="Digite seu nome" required>
    </div>
    <div class="mb-3">
      <label for="sobrenome" class="form-label">Sobrenome</label>
      <input type="text" class="form-control" id="sobrenome" th:field="*{sobrenome}" placeholder="Digite uma senha" required>
    </div>
    <div class="mb-3">
      <label for="username" class="form-label">Username</label>
      <input type="text" class="form-control" id="username" th:field="*{username}" placeholder="Escolha um username" required>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Senha</label>
      <input type="password" class="form-control" id="password" th:field="*{password}" placeholder="Digite uma senha" required>
    </div>
    <div class="mb-3">
      <label for="faculdade" class="form-label">Faculdade</label>
      <input type="text" class="form-control" id="faculdade" th:field="*{faculdade}" placeholder="Digite uma senha" required>
    </div>
    <div class="mb-3">
      <label for="telefone" class="form-label">Telefone</label>
      <input type="text" class="form-control" id="telefone" th:field="*{telefone}" placeholder="Digite uma senha" required>
    </div>

    <div class="mb-3">
      <label for="habilidades" class="form-label">Habilidades</label>
      <select id="habilidades" name="habilidades" class="form-select" multiple="multiple">
        <option th:each="habilidade : ${habilidades}" th:value="${habilidade}" th:text="${habilidade}">Habilidade</option>
      </select>
    </div>

    <button type="submit" class="btn btn-primary">Criar Conta</button>
  </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>