<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ofertas de Estágio</title>
  <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
<button type="button" class="btn btn-secondary" onclick="window.history.back()">Voltar</button>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Sistema de Gerenciamento</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" th:href="@{/alunos/ofertas}">Ofertas de Estágio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/alunos/ofertas-inscritas}">Ofertas inscritas</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container mt-5">
  <h2>Ofertas de Estágio</h2>

  <form th:action="@{/alunos/ofertas}" method="get">
    <div class="mb-3">
      <input type="text" class="form-control" name="query" placeholder="Pesquisar por atividade principal, valor pago, etc." th:value="${query}" />
    </div>
    <button type="submit" class="btn btn-primary">Pesquisar</button>
  </form>

  <table class="table">
    <thead>
    <tr>
      <th>Atividade Principal</th>
      <th>Pre-Requisitos</th>
      <th>Carga Horaria Semanal</th>
      <th>Valor Pago</th>
      <th>Vale Transporte</th>
      <th>Habilidades Desejavel</th>
      <th>Habilidades Necessarias</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="oferta : ${ofertas}">
      <td th:text="${oferta.atividadePrincipal}"></td>
      <td th:text="${oferta.preRequisitos}"></td>
      <td th:text="${oferta.chSemanal}"></td>
      <td th:text="${oferta.valorPago}"></td>
      <td th:text="${oferta.valeTransporte}"></td>
      <td th:text="${oferta.habilidadesDesejavel}"></td>
      <td th:text="${oferta.habilidadesNecessaria}"></td>
      <td>
        <a class="btn btn-primary" th:href="@{/alunos/candidatar(ofertaId=${oferta.idOfertaEstagio})}">Candidatar</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>