<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ofertas de Estágio</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div th:replace="~{fragments/navbar-aluno :: navbar}"></div>
<div class="container mt-5">
  <h2>Ofertas de Estágio</h2>

  <form th:action="@{/alunos/ofertas}" method="get">
    <div class="mb-3">
      <input type="text" class="form-control" name="query" placeholder="Pesquisar por atividade principal, valor pago, etc." th:value="${query}" />
    </div>
    <button type="submit" class="btn btn-primary">Pesquisar</button>
  </form>

  <table class="table">
    <thead>
    <tr>
      <th>Atividade Principal</th>
      <th>Pre-Requisitos</th>
      <th>Carga Horaria Semanal</th>
      <th>Valor Pago</th>
      <th>Vale Transporte</th>
      <th>Habilidades Desejavel</th>
      <th>Habilidades Necessarias</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="oferta : ${ofertas}">
      <td th:text="${oferta.atividadePrincipal}"></td>
      <td th:text="${oferta.preRequisitos}"></td>
      <td th:text="${oferta.chSemanal}"></td>
      <td th:text="${oferta.valorPago}"></td>
      <td th:text="${oferta.valeTransporte}"></td>
      <td th:text="${oferta.habilidadesDesejavel}"></td>
      <td th:text="${oferta.habilidadesNecessaria}"></td>
      <td>
        <a class="btn btn-primary" th:href="@{/alunos/candidatar(ofertaId=${oferta.idOfertaEstagio})}">Candidatar</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>